

<app-header></app-header>
  <div class="container-fluid" style="background: #696969;">     
       <ngb-carousel *ngIf="images" class="slide h-t" data-interval="3000">
          <ng-template ngbSlide>
              <div class="picsum-img-wrapper h-t">
                <img class="img-fluid" src="https://images.unsplash.com/photo-1511367734837-f2956f0d8020?ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="Random third slide">
              </div>
              <div class="carousel-caption">
                <!-- <h3>Third slide label</h3>
                <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
              </div>
          </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper h-t">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1505740420928-5e560c06d30e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Random first slide" >
          </div>
          <div class="carousel-caption">
            <!-- <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper h-t">
            <img class="img-fluid" src="https://images.unsplash.com/photo-1506157786151-b8491531f063?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Random second slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </ng-template>
        
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper h-t">
            <img src="https://images.unsplash.com/photo-1533113860586-3da7fe05daae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjF9&auto=format&fit=crop&w=500&q=60" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>Fourth slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper h-t">
            <img src="https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Random third slide">
          </div>
          <div class="carousel-caption">
            <!-- <h3>Fifth slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p> -->
          </div>
        </ng-template>
      </ngb-carousel>
      <!-- </div> -->
</div>
<hr style="padding: 0px;margin:2px;">

<!--Row 2 starts-->
<div class="container-fluid">
  <h5 style="color: #ebab34;"><b>Header</b></h5>
<div class="scrolling-wrapper">
    <div class="card c-p">
        <img src="https://images.unsplash.com/photo-1518609878373-06d740f60d8b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="no image" height="200px" width="340px">
        <br />
        <div class="d-flex">
          <div class="mr-auto p-2"><b>Collections</b></div>
          <div class="p-2"><b>2019</b></div>
        </div>
      </div>
    <div class="card c-p">
      <img src="https://image.shutterstock.com/image-photo/cheerful-smile-smiling-girl-singing-600w-1268898526.jpg" alt="no image" height="200px" width="340px">
      <div class="d-flex">
        <div class="mr-auto p-2"><b>Collections</b></div>
        <div class="p-2"><b>2019</b></div>
      </div>    
    </div>
    
      <div class="card c-p">
          <img src="https://image.shutterstock.com/image-illustration/magelang-indonesia-december-24-2018-600w-1265469952.jpg" alt="no image" height="200px" width="340px">
          <div class="d-flex">
              <div class="mr-auto p-2"><b>Collections</b></div>
              <div class="p-2"><b>2019</b></div>
            </div>
        </div>
        <div class="card c-p">
            <img src="https://image.shutterstock.com/image-vector/illustration-singer-performing-mike-on-600w-100372574.jpg" alt="no image" height="200px" width="340px">
            <div class="d-flex">
                <div class="mr-auto p-2"><b>Collections</b></div>
                <div class="p-2"><b>2019</b></div>
              </div>
          </div>
          <div class="card c-p">
              <img src="https://image.shutterstock.com/image-photo/two-beautiful-young-couples-having-600w-520401049.jpg" alt="no image" height="200px" width="340px">
              <div class="d-flex">
                  <div class="mr-auto p-2"><b>Collections</b></div>
                  <div class="p-2"><b>2019</b></div>
                </div>
            </div>
            <div class="card c-p">
                <img src="https://image.shutterstock.com/image-vector/singer-man-character-abstract-vector-600w-1439389364.jpg" alt="no image" height="200px" width="340px">
                <div class="d-flex">
                    <div class="mr-auto p-2"><b>Collections</b></div>
                    <div class="p-2"><b>2019</b></div>
                  </div>
              </div>
              <div class="card c-p">
                  <img src="https://image.shutterstock.com/image-illustration/magelang-indonesia-december-24-2018-600w-1265469952.jpg" alt="no image" height="200px" width="340px">
                  <div class="d-flex">
                      <div class="mr-auto p-2"><b>Collections</b></div>
                      <div class="p-2"><b>2019</b></div>
                    </div>
                </div>
                <div class="card c-p">
                    <img src="https://image.shutterstock.com/image-illustration/magelang-indonesia-december-24-2018-600w-1265469952.jpg" alt="no image" height="200px" width="340px">
                    <div class="d-flex">
                        <div class="mr-auto p-2"><b>Collections</b></div>
                        <div class="p-2"><b>2019</b></div>
                    </div>
                  </div>
                  <div class="card c-p">
                      <img src="https://image.shutterstock.com/image-illustration/magelang-indonesia-december-24-2018-600w-1265469952.jpg" alt="no image" height="200px" width="340px">
                      <div class="d-flex">
                          <div class="mr-auto p-2"><b>Collections</b></div>
                          <div class="p-2"><b>2019</b></div>
                      </div>
                  </div>
  </div>
</div>
<hr>  

<!--Row 3 starts-->
<div class="container-fluid">
  <h5 style="color: #ebab34;"><b>Artists</b></h5>
    <div class="scrolling-wrapper">
        <div class="card p-l-r">
          <img class="rounded-circle" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="150px" width="150px">
          <div class="d-flex a-c">
            <div><b>Post Malone</b></div>
            
          </div>
        </div>
        <div class="card p-l-r">
          <img class="rounded-circle" src="https://i.pinimg.com/564x/2e/ad/f1/2eadf1384793dc451c40ebcb791eeb5f.jpg" alt="no image" height="150px" width="150px">
          <div class="d-flex a-c">
            <div><b>Alan Walker</b></div>            
          </div>
        </div>
        <div class="card p-l-r">
            <img class="rounded-circle" src="https://image.shutterstock.com/image-vector/musician-guitar-rock-guitarist-player-600w-768883102.jpg" alt="no image" height="150px" width="150px">
            <div class="d-flex a-c">
              <div><b>Skrillex</b></div>
             
            </div>
          </div>
          
            <div class="card p-l-r">
                <img class="rounded-circle" src="./assets/images/6657d3ce3b14fc3.jpg" alt="no image" height="150px" width="150px">
                <div class="d-flex a-c">
                  <div><b>Avichi</b></div>
                  
                </div>
              </div>
              <div class="card p-l-r">
                  <img class="rounded-circle" src="./assets/images/md_5aeffdfa3bcd2.jpg" alt="no image" height="150px" width="150px">
                  <div class="d-flex a-c">
                    <div><b>Cold Play</b></div>
                    
                  </div>
                </div>
                <div class="card p-l-r">
                    <img class="rounded-circle" src="./assets/images/md_5af8fbd104184.jpg" alt="no image" height="150px" width="150px">
                    <div class="d-flex a-c">
                      <div><b>LSD</b></div>
                      
                    </div>
                  </div>
    </div>
  </div>
<hr>

  <!--Row 4 starts Top ten songs-->
  <div class="container-fluid">
      <h5 style="color: #ebab34;"><b>Top 10 Songs</b></h5>
        <div class="scrolling-wrapper">
            <div class="card p-l-r">
              <img src="https://image.shutterstock.com/image-vector/musician-drums-rock-drummer-player-600w-1439911178.jpg" alt="no image" height="150px" width="150px">
              <div class="d-flex">
                <div class="mr-auto p-2"><b>Collections</b></div>
                <div class="p-2"><b>2019</b></div>
              </div>
            </div>
            <div class="card p-l-r">
              <img src="https://i.pinimg.com/564x/2e/ad/f1/2eadf1384793dc451c40ebcb791eeb5f.jpg" alt="no image" height="150px" width="150px">
              <div class="d-flex">
                <div class="mr-auto p-2"><b>Collections</b></div>
                <div class="p-2"><b>2019</b></div>
              </div>
            </div>
            <div class="card p-l-r">
                <img src="https://image.shutterstock.com/image-vector/musician-guitar-rock-guitarist-player-600w-768883102.jpg" alt="no image" height="150px" width="150px">
                <div class="d-flex">
                  <div class="mr-auto p-2"><b>Collections</b></div>
                  <div class="p-2"><b>2019</b></div>
                </div>
              </div>
              
                <div class="card p-l-r">
                    <img src="./assets/images/6657d3ce3b14fc3.jpg" alt="no image" height="150px" width="150px">
                    <div class="d-flex">
                      <div class="mr-auto p-2"><b>Collections</b></div>
                      <div class="p-2"><b>2019</b></div>
                    </div>
                  </div>
                  <div class="card p-l-r">
                      <img src="./assets/images/md_5aeffdfa3bcd2.jpg" alt="no image" height="150px" width="150px">
                      <div class="d-flex">
                        <div class="mr-auto p-2"><b>Collections</b></div>
                        <div class="p-2"><b>2019</b></div>
                      </div>
                    </div>
                    <div class="card p-l-r">
                        <img src="./assets/images/md_5af8fbd104184.jpg" alt="no image" height="150px" width="150px">
                        <div class="d-flex">
                          <div class="mr-auto p-2"><b>Collections</b></div>
                          <div class="p-2"><b>2019</b></div>
                        </div>
                      </div>
        </div>
      </div>
      <hr>

      <!--Row 5 Starts-->
      <div class="container-fluid">
          <h5 style="color: #ebab34;"><b>Play List</b></h5>
            <div class="scrolling-wrapper">
                <div class="card p-l-r">
                  <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                  <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;"><br/>
                  <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                  <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                </div>
                <div class="card p-l-r">
                    <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                    <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;"><br/>
                    <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                    <img class="d-4" src="https://i.pinimg.com/564x/f5/70/84/f5708497579c25f7fe5ed1345556c8bb.jpg" alt="no image" height="65px" width="200px" style="border-radius: 10px;">
                </div>
                
               



            </div>
      </div>
                  

